<div class="container mt-4">
    <h1 class="text-white bg-danger p-3 text-center">Dans le AppComponent</h1>

    <div class="mb-3">
        <label for="username" class="form-label fw-bold">Nom de l'utilisateur</label>
        <input 
            type="text" 
            id="username" 
            class="form-control"
            [(ngModel)]="userName"
            placeholder="Entrez un nom"
        />
    </div>

    <p class="fw-bold">{{ userName }}</p>

    <button 
        class="btn btn-primary"
        [disabled]="userName === ''"
        (click)="resetUserName()">
        Ajouter le nom.
    </button>
</div>
