<h1 class="fs-2 fw-bold text-center text-primary text-decoration-underline">
    TP1 : Component Manipulation
</h1>

<section class="bg-dark bg-gradient p-5">
    <h2 class=" fs-4 fw-semibold text-dark mt-4">Vous êtes sur le composant parent</h2>
    
    <article class="bg-success text-white">
        <h3 class="fs-5 fw-medium text-black mt-2">Composant enfant 1</h3>
        <app-tp1enfant1></app-tp1enfant1>
    </article>

    <article class=" bg-danger text-white">
        <h3 class="fs-5 fw-medium text-black mt-2">Composant enfant 2</h3>
        <app-tp1enfant2></app-tp1enfant2>
    </article>

    <article class="bg-primary text-white">
        <h3 class="fs-5 fw-medium text-black mt-2">Composant enfant 3</h3>
        <app-tp1enfant3></app-tp1enfant3>
    </article>
</section>









