<h1 class="text-3xl font-bold text-center text-blue-600 underline">TP1 : Component Manipulation</h1>

<h2 class="text-2xl font-semibold text-gray-800 mt-4">Vous êtes sur le composant parent</h2>

<h3 class="text-xl font-medium text-gray-600 mt-2">Composant enfant 1</h3>
<section class="bg-green-500">
    <app-tp1enfant1></app-tp1enfant1>
</section>

<h3 class="text-xl font-medium text-gray-600 mt-2">Composant enfant 2</h3>
<section class="bg-pink-300">
    <app-tp1enfant2></app-tp1enfant2>
</section>

<h3 class="text-xl font-medium text-gray-600 mt-2">Composant enfant 3</h3>
<section class="bg-purple-500">
    <app-tp1enfant3></app-tp1enfant3>
</section>