<h1>Exercice 1 : Text interpolation</h1>

<h2>List friends - Bienvenue sur votre profil !</h2>

<button [disabled]="isButtonDisabled" class="bg-green-500 text-white px-4 py-2 rounded">
    Ajouter Ami
</button>

<div *ngFor="let friend of friendsList" class="grid grid-cols-3 gap-4">
    <app-one-friend 
        [name]="friend.name" 
        [city]="friend.city" 
        [age]="friend.age" 
        [description]="friend.description"
        [reputation]="friend.reputation"
        [imageUrl]="friend.imageUrl || 'https://picsum.photos/seed/picsum/150/150'"
    >
    </app-one-friend>
</div>