<h1>Exercice 1 : Text interpolation</h1>

<section>
    <h2>Ajouter un ami</h2>

    <input type="text" (input)="updateFriendName($event)" class="form-control" placeholder="Entrez un nom" />

    <p>Votre ami : {{ friendName }}</p>
    
    <button class="btn btn-success" (click)="addFriend()">Ajouter un ami</button>
    
    <p>{{ message }}</p>
</section>

<section>
    <h2>List friends - Bienvenue sur votre profil !</h2>

    <div *ngFor="let friend of friendsList" class="row g-4">
        <app-one-friend 
            [name]="friend.name" 
            [city]="friend.city" 
            [age]="friend.age" 
            [description]="friend.description"
            [reputation]="friend.reputation"
            [imageUrl]="friend.imageUrl || 'https://picsum.photos/seed/picsum/150/150'">
        </app-one-friend>
    </div>
</section>
